body {
    font-family: 'Open Sans', sans-serif;
}
main {
    text-align: center;
}
#map-div {
    display: inline-block;
    position: relative;
}
/*#map-div:hover {
    cursor: pointer;
}*/

.pin {
    position: absolute;
}

#info-box {
    position: absolute;
    min-height: 100px;
    width: 300px;
    border: 1px solid black;
    background-color: white;
    z-index: 999;
    display: none;
    padding: 1em;
}

#location-img {
    max-width: 100%;
    border: 1px solid black;
}

/* modal styles */
#info-dialog {
    text-align: left;
    display: none;
    position: absolute;
    border: solid 1px #555;
    background-color: #fff;
    z-index: 99999;
    width: 300px;
    height: 300px;
    padding: 1em;
}

#edit-name-text {
    width: 100%;
    box-sizing: border-box;
}
#edit-description-text {
    width: 100%;
    box-sizing: border-box;
}